######################################################################
# IDE
######################################################################
.idea/
*.iws
*.iml
*.ipr
.classpath
.factorypath
.project
.settings
.springBeans
.vscode/
*.swp
*.swo
*~

######################################################################
# Maven Build Output
######################################################################
target/
!.mvn/wrapper/maven-wrapper.jar

######################################################################
# Gradle
######################################################################
.gradle/
/build/
!gradle/wrapper/gradle-wrapper.jar

######################################################################
# Java
######################################################################
*.class
*.jar
*.war
*.log

######################################################################
# OS
######################################################################
.DS_Store
Thumbs.db
*.tmp

######################################################################
# RuoYi Upload
######################################################################
D:/ruoyi/uploadPath/

######################################################################
# AutoTest GUI
######################################################################
ruoyi-autotest-gui/jmeter_result.jtl
ruoyi-autotest-gui/msedgedriver.exe
ruoyi-autotest-gui/test-output/
ruoyi-autotest-gui/src/main/resources/msedgedriver.exe
ruoyi-autotest-gui/src/main/resources/Driver_Notes/
ruoyi-autotest-gui/logs/
