<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="RuoYi AutoTest Suite" verbose="1" parallel="false">

    <test name="系统监控与日志模块 - 全部测试">
        <classes>
            <class name="com.ruoyi.autotest.test.MonitorLogTest"/>
        </classes>
    </test>

</suite>
