<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="RuoYi AutoTest Suite" verbose="1" parallel="false">

    <test name="用户与权限模块 - 单模块测试">
        <classes>
            <class name="com.ruoyi.autotest.test.UserAndPermissionTest">
                <methods>
                    <include name="testSingleModule_Login"/>
                    <include name="testSingleModule_UserQuery"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name="用户与权限模块 - 集成测试">
        <classes>
            <class name="com.ruoyi.autotest.test.UserAndPermissionTest">
                <methods>
                    <include name="testIntegration_Depth3_AddRole"/>
                    <include name="testIntegration_Depth4_AddUserAndAssign"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name="用户与权限模块 - 数据驱动测试">
        <classes>
            <class name="com.ruoyi.autotest.test.UserAndPermissionTest">
                <methods>
                    <include name="testDataDriven_Login"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name="字典模块 - 单模块测试">
        <classes>
            <class name="com.ruoyi.autotest.test.DictionaryTest">
                <methods>
                    <include name="testSingleModule_DictTypeQuery"/>
                    <include name="testSingleModule_DictDataDeactivation"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name="字典模块 - 集成测试">
        <classes>
            <class name="com.ruoyi.autotest.test.DictionaryTest">
                <methods>
                    <include name="testIntegration_Depth3_MenuDisplayToggle"/>
                    <include name="testIntegration_Depth4_AddDictData"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name="字典模块 - 数据驱动测试">
        <classes>
            <class name="com.ruoyi.autotest.test.DictionaryTest">
                <methods>
                    <include name="testDataDriven_DictDataValidation"/>
                </methods>
            </class>
        </classes>
    </test>

</suite>